body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272633;
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1{
  color: #fff;
  font-size: 39px;
  letter-spacing: 7px;
  user-select: none;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 15px rgb(255, 123, 0), 0 0 25px #FF9900, 0 0 35px #FF9900, 0 0 45px #FF9900, 0 0 55px #FF9900;
}
.menu{
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
}
.menu a{
  display: block;
  color: #fff;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  padding: 8px 24px 8px 24px;
  border: 1px solid #fff;
  border-radius: 5px;
  letter-spacing: 5px;
  user-select: none;
}
canvas{
  border: 1px solid #fff;
  display: block;
  margin: auto;
}
.game{
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 3vh;
  flex-direction: column;
  width: 280px;
}
.mobile-controller{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 282px;
}
.mobile-controller a{
  display: block;
  color: white;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid #fff;
  width: 130px;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  user-select: none;
}
.startbtn{
  position: absolute;
  top: 20vh;
  left: 28%;
  text-align: center;
  width: 80px;
  height: 20px;
  color: #fff;
  padding: 8px 24px 8px 24px;
  border: 1px solid #fff;
  border-radius: 5px;
  letter-spacing: 5px;
  user-select: none;
}
h3{
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 26px;
  letter-spacing: 25px;
  width: 282px;
  text-align: center;
  user-select: none;
}
h4{
  color: rgba(255, 255, 255, 0.144);
  position: absolute;
  font-size: 40px;
  left: 10px;
  top: 85%;
  text-align: center;
  margin: 0;
  padding: 0;
  user-select: none;
}
h2{
  color: white;
  font-family: sans-serif;
  font-size: 34px;
}
p{
  color: rgba(255, 255, 255, 0.746);
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.About a{
  display: block;
  color: #fff;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  padding: 8px 24px 8px 24px;
  border: 1px solid #fff;
  border-radius: 5px;
  letter-spacing: 5px;
}
@media only screen and (min-width: 1030px){
  .mobile-controller{
    display: none;
  }
}